.skills__list {
  grid-column: 1/-1;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.skills__item {
  flex: 0 0 33%;
  margin-bottom: 5rem;
  position: relative;
}
.skills__item:hover {
  text-shadow: 0 0 2px var(--color-green);
  user-select: none;
}
.skills__title {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
}
.skills__years {
  display: inline-block;
  font-size: var(--font-size-20);
  margin-top: 1rem;
}
.underline::after {
  content: "";
  height: 0.6rem;
  width: 60%;
  background: var(--color-text);
  position: absolute;
  left: 0;
  bottom: -20px;
}

.skills {
  &__filters {
    grid-column: 1/-1;
    margin-top: -8rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__button {
    border: 1px solid var(--color-text);
    border-radius: 0.4rem;
    padding: 0.2rem 1rem;

    &--isActive {
      background-color: var(--color-text);
      color: var(--color-background);
    }
  }

  &__list.frontend li:not([data-type="frontend"]) {
    display: none;
  }

  &__list.backend li:not([data-type="backend"]) {
    display: none;
  }
}
